[client]
port = 3306
socket = /tmp/mysql.sock
default-character-set=utf8

[mysqld]
user = mysql
port = 3306
default-storage-engine         = InnoDB
character_set_server=utf8
socket = /tmp/mysql.sock
basedir = /usr/local/webserver/mysql
datadir = /export/mysql/data/
pid-file = /export/mysql/data/mysqld.pid
log_bin_trust_function_creators = 1
open_files_limit = 10240
max_allowed_packet = 32M
max_connections = 500
sort_buffer_size = 2M
join_buffer_size = 2M
thread_cache_size = 16
thread_concurrency = 8
query_cache_size = 64M
query_cache_limit = 4M
tmp_table_size = 32M
key_buffer_size = 256M
read_buffer_size = 128k
lower_case_table_names = 1
myisam_recover
skip-name-resolve
server-id = 1
log-bin                        = /export/mysql/data/mysql-bin
binlog_format=mixed
expire-logs-days               = 14
sync-binlog                    = 1
expire_logs_days = 7
innodb_buffer_pool_size = 2048M
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 128M
innodb_file_per_table = 1
log-error                      = /export/mysql/data/mysql-error.log
slow-query-log                 = 1
slow-query-log-file            = /export/mysql/data/mysql-slow.log

[mysqldump]
quick

[mysqld_safe]
log-error=/export/mysql/data/mysql.err
pid-file=/export/mysql/data/mysqld.pid
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
